*.pyc
*~
*.~
.DS_Store
app/uploads/
app/ndvi/
app/uploads
app/uploads/*.PNG
app/uploads/*.pngn
app/uploads/*.jpeg
app/uploads/*.JPG
app/uploads/*.tiff
app/uploads/*.TIFF
*.PNG
*.png
*.jpeg
*.JPG
*.tiff
*.TIFF
env
