<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Infragram | by Public Lab{% block title %}{% endblock %}</title>

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style> body { padding-top: 60px; } </style>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/application.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
  
    <div class="container page" style="padding-top:10px;">
      <img src="/static/img/infragram-logo.png" style="float:left;margin-right:14px;"/>

      <br />
      <h1><a style="color:#444;" href="/">Infragram</a> <small>by <a href="http://publiclab.org">Public Lab</a></small></h1>

      <p>Welcome to Public Lab's online service for generating plant health analyses from near-infrared imagery!</p>

      <hr>

      <p>For more information about the Infragram platform, <a href="http://publiclab.org/wiki/near-infrared-camera">read about the open source cameras we are developing</a>, or see our <a href="http://www.kickstarter.com/projects/publiclab/infragram-the-infrared-photography-project">Kickstarter</a> video. To purchase a filter kit to make your own camera, visit <a href="http://store.publiclab.org/products/infragram-diy-filter-pack">the Public Lab Store</a></p>

      <div class="content">
          {% block content %}
          {% endblock %}
      </div>


      {% block footer %}
      <footer class="footer" style="clear:both;padding-top:10px;">
          <hr>
          <h4 style="margin-bottom:40px;"><a style="color:#444;" href="/">Infragram</a> <small>by <a href="http://publiclab.org">Public Lab</a> | This web app is <a href="https://github.com/Pioneer-Valley-Open-Science/infrapix-flask/">open source software</a> developed by Public Lab and <a href="http://pvos.org">Pioneer Valley Open Science</a></small></h4>
      </footer>
      {% endblock %}

    </div>

    {% block js_footer %}
      <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
    {% endblock %}
  </body>


</html>
