{% extends "base.html" %}
{% block title %} - Home{% endblock %}


{% block content %}

{% if filename %}
	<div class="row show-grid">
              <div class="span4"><center><h3>Original</h3><br><img src="{{filename}}"></center></div>
              <div class="span4"><center><h3>NDVI</h3><br><img src="{{ndviFilename}}"></center></div>
            </div>
<br><br><br>
<devi class="row show-grid">
              <div class="span4"><center><h3>NIR (Red Channel)</h3><br><img src="{{nirFilename}}"></center></div>
              <div class="span4"><center><h3>Blue Channel</h3><br><img src="{{blueFilename}}"></center></div>
            </div>
<br>
<br>
(To upload another image, click <a href="/">here</a>.)
<br>
<br>
         
{% else %}
<h2>sorry, image upload failed. wrong format?</h2>
{% endif %}

{% endblock %}
